/* Styling for the main content area */
.main-content {
    flex: 1; /* Ensures main-content takes up the remaining space */
    display: flex;
    flex-direction: row; /* Align children in a row */
    justify-content: space-between; /* Space between children */
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    position: relative; /* Ensure expand-button positioning is relative to this container */
    transition: margin-left 0.5s ease;
}

.blurb {
    flex:1;
    animation: typing 1s steps(30, end) forwards;
    padding-right: 50px;
    padding-left: 50px;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}


/* Container to position the image as a flex item */
.image-container {
    flex: 0.65; /* Allow the image container to take available space */
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
}

/* Styling for the image */
.image-container img {
    max-width: 100%; /* Ensures the image doesn't exceed the container's width */
    height: auto; /* Maintain aspect ratio */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    
    .main-content {
        flex-direction: column; /* Stack the blurb and image vertically */
        padding-top: 20px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 35px;
    }
    .blurb {
        padding-right: 0; /* Remove right padding */
        padding-left: 0; /* Remove left padding */
    }
    .image-container img {
        max-width: 200px; /* Smaller max width for mobile */
        flex: none;
    }
}

